html,
body {
  overflow-x: hidden;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  color: $black;
  font-family: $satoshi;
}

main {
  min-height: 100%;
}
